html, body {
	height: 100%;
}

table.center {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

table > th {
    text-align: center;
}

.bottom-right-fab {
	position: absolute;
	top: 85%;
	right: 5%;
	z-index: 999;
}

.container {
	width: 95%;
	margin-right: auto;
	margin-left: auto;
	padding-right: 6px;
	padding-left: 6px;
}

.container:before, .container:after {
	content: " ";
	display: table;
}

.container:after {
	clear: both;
}

.mdl-card__supporting-text {
  width: 94%;
  padding: 3%;
}

#google-login-btn {
  background: #eee url("/public/images/google_signin_btn.png") no-repeat -1px -1px;
  width: 189px;
  height: 44px;
  border-radius: 4px;
}

.home-card {
  margin: 30px 5%;
}

.home-card .mdl-cell {
  text-align: center;
}