<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Chore Wheel</title>

<!-- Material Design Lite -->
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet"
	href="https://code.getmdl.io/1.2.1/material.blue-indigo.min.css">
<script defer src="/public/js/material.min.js"></script>

<script type="text/javascript" src="/public/js/jquery-3.1.0.min.js"></script>
<script type="text/javascript" src="/public/js/jquery-ui.min.js"></script>

<!-- Polyfill to support non-chrome browsers -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/dialog-polyfill/0.4.4/dialog-polyfill.css">
<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/dialog-polyfill/0.4.4/dialog-polyfill.js"></script>

<!-- Material Design Lite 1.2.1 doesn't have a select element so I used this one. -->
<!-- From: getmdl-select from https://github.com/CreativeIT/getmdl-select-->
<link rel="stylesheet"
	href="https://cdn.rawgit.com/CreativeIT/getmdl-select/master/getmdl-select.min.css">
<script defer
	src="https://cdn.rawgit.com/CreativeIT/getmdl-select/master/getmdl-select.min.js"></script>
	
<!-- From for Date time pickers https://github.com/T00rk/bootstrap-material-datetimepicker -->
<!-- License: https://github.com/T00rk/bootstrap-material-datetimepicker/blob/gh-pages/LICENSE.md -->
<link rel="stylesheet"
	href="/public/css/bootstrap-material-datetimepicker.css" />
<script type="text/javascript"
	src="http://momentjs.com/downloads/moment-with-locales.min.js"></script>
<script type="text/javascript"
	src="/public/js/bootstrap-material-datetimepicker.js"></script>


<!-- Custom CSS/JS -->
<link rel="stylesheet" href="/public/css/chorewheel.css">
<script type="text/javascript" src="/public/js/chorewheel.js"></script>


<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body
	class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
		<header
			class="mdl-layout__header mdl-color--primary">
			<div class="mdl-layout__header-row">
				<span class="mdl-layout-title">Chore Wheel</span>
				
				<!-- Add spacer, to align navigation to the right -->
				<div class="mdl-layout-spacer"></div>
				<!-- Navigation. We hide it in small screens. -->
				<nav class="mdl-navigation">
					<a class="mdl-navigation__link" href="/groups">Groups</a>
					<a class="mdl-navigation__link" href="{{ logout_url }}">Log Out</a>
				</nav>
			</div>
		</header>
		<main class="mdl-layout__content"> {% block content %}{%
		endblock %} {% block modals %}{% endblock %} </main>
	</div>
</body>
</html>