{% extends "templates/base.html" %} {% block content %}
<br>
<br>

{% for admin in admins %}
	{% if admin.urlsafe() == user_key.urlsafe() %}
		<div style="margin-left: auto; margin-right: auto; width: 25%;">
			<a href="/insert-chore-page?groupkey={{ groupkey.urlsafe() }}"
				class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary">
				<i class="material-icons">add</i> Add Chore
			</a>
		
			<button id="chores-add-member"
				class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
				<i class="material-icons">add</i> Add Member
			</button>
		</div>
		{% break %}
	{% endif %}
{% endfor %}

<div class="mdl-grid">
	
	<ul class="chores-list mdl-list mdl-cell mdl-cell--4-col">
		<li><strong>Chores</strong></li>
		{% for chore in chores %}
			{% if chore.assigned_to is none %}
				<li class="mdl-list__item">
					<span class="chore-key hidden">{{ chore.key.urlsafe() }}</span>
					<span class="chore-frequency hidden">{{ chore.frequency }}</span>
					{{ chore.name }} ({{ chore.points }}) - Due {{ chore.due.strftime("%m/%d") }}
					{% for admin in admins %}
						{% if admin.urlsafe() == user_key.urlsafe() %}
							<a
							href="/insert-chore-page?chorekey={{ chore.key.urlsafe() }}"
							class="mdl-list__item-secondary-action"> <i class="material-icons">mode
									edit</i>
							</a> 
							<button class="mdl-button mdl-js-button chores-delete-button">
								<i class="material-icons">delete</i>
							</button></td>
							{% break %}
						{% endif %}
					{% endfor %}
				</li>
			{% endif %}
		{% endfor %}
	</ul>
	
	<ul class="members-list mdl-list mdl-cell mdl-cell--4-col">
		<li><strong>Members</strong></li>
		{% for member in members %}
		<li class="mdl-list__item">
			<div class="mdl-card mdl-shadow--2dp">
				<div class="mdl-card__title">
					<span class="user-key hidden">{{ member.key.urlsafe() }}</span>
				    <h6 class="mdl-card__title-text">{{ member.name }} ({{ points[member.email] }})</h6>
				</div>
				<div class="mdl-card__supporting-text">
					<ul class="assigned-chores mdl-list">
					{% for chore in chores %}
						{% if chore.assigned_to and chore.assigned_to.urlsafe() == member.key.urlsafe() and not chore.readyForApproval %}
							<li class="mdl-list__item">
								<span class="chore-key hidden">{{ chore.key.urlsafe() }}</span>
								{{ chore.name }} ({{ chore.points }}) - Due {{ chore.due.strftime("%m/%d") }}
								{% if (chore.assigned_to and chore.assigned_to.urlsafe() == user_key.urlsafe() and not
									chore.readyForApproval) %}
										<button class="mdl-button mdl-js-button mark-for-approval">
											<i class="material-icons">done</i>
										</button>
								{% endif %}
							</li>
						{% endif %}
					{% endfor %}
					</ul>
					    {% for admin in admins %}
							{% if admin.urlsafe() == user_key.urlsafe() %}
								<div class="mdl-card__actions mdl-card--border">
									<button class="mdl-button mdl-js-button">
										<i class="material-icons">edit</i>
									</button>
									<button class="mdl-button mdl-js-button">
										<i class="material-icons">delete</i>
									</button>
								</div>
								{% break %}
							{% endif %}
						{% endfor %}
				</div>
			</div>
		</li>
		{% endfor %}
	</ul>
	
	<ul class="approval-list mdl-list mdl-cell mdl-cell--4-col">
		<li><strong>Ready for Approval</strong>
		{% for chore in chores %}
			{% if chore.readyForApproval %}
				<li class="mdl-list__item">
					<span class="chore-key hidden">{{ chore.key.urlsafe() }}</span>
					{{ chore.name }} ({{ chore.points }}) - Due {{ chore.due.strftime("%m/%d") }}
					{% if (chore.assigned_to and chore.assigned_to.urlsafe() != user_key.urlsafe() and
						chore.readyForApproval) %}
						<button class="mdl-button mdl-js-button mark-approved">
							<i class="material-icons">done</i>
						</button>
					{% endif %}
				</li>
			{% endif %}
		{% endfor %}
	</ul>
	
</div>


{% endblock %} {% block modals %}
<dialog id="members-edit-dialog" class="mdl-dialog">
<h4 class="mdl-dialog__title">Edit Member</h4>
<form action="/edit-member" method="post">
	<div class="mdl-dialog__content">
		<input style="display: none;" type="text" name="key" id="members-edit-key">
        <label id="member-edit-admin" for="member_admin" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
            <input type="checkbox" class="mdl-checkbox__input" name="is_admin">
			<span class="mdl-checkbox__label">Admin</span>
		</label>
	</div>
	<div class="mdl-dialog__actions">
		<button type="button" class="mdl-button">Save</button>
		<button type="button" class="mdl-button close">Cancel</button>
	</div>
</form>
</dialog>

<dialog id="members-delete-dialog" class="mdl-dialog">
<h4 class="mdl-dialog__title">Delete member?</h4>
<form action="/delete-member" method="post">
	<div class="mdl-dialog__content">
		<input style="display: none;" type="text" name="key"
			id="members-delete-key">
		<p>
			Are you sure you want to delete the member <span class="member-name"></span>
		</p>
		<p style="display: none;" id="delete-id"></p>
	</div>
	<div class="mdl-dialog__actions">
		<button type="submit" class="mdl-button">Delete</button>
		<button type="button" class="mdl-button close">Cancel</button>
	</div>
</form>
</dialog>

<dialog id="chores-add-dialog" class="mdl-dialog">
<h4 class="mdl-dialog__title">New Chore</h4>
<form action="/add-chore" method="post">
	<div class="mdl-dialog__content">
		<input style="display: none;" type="text" name="group_id"
			value="{{ groupkey.urlsafe() }}">
		<div
			class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			<input class="mdl-textfield__input" type="text" name="name">
			<label class="mdl-textfield__label" for="name">Name</label>
		</div>
	</div>
	<div class="scheduled-picker">
		<div id="send-date-time-field"
			class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			<input class="mdl-textfield__input" type="text" name="due"
				style="z-index: 1151 !important;"> <label
				class="mdl-textfield__label" for="send_date_time">Due date /
				time</label>
		</div>
	</div>
	<div id="list-select"
		class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select getmdl-select__fullwidth">
		<input class="mdl-textfield__input" type="text" id="frequency"
			name="frequency" tabIndex="-1" /> <label class="mdl-textfield__label"
			for="frequency">Frequency</label>
		<ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu" for="frequency">
			<li class="mdl-menu__item" data-val="1 day">Every Day</li>
			<li class="mdl-menu__item" data-val="1 week">Every Week</li>
			<li class="mdl-menu__item" data-val="2 week">Every 2 Weeks</li>
			<li class="mdl-menu__item" data-val="1 month">Every Month</li>
		</ul>
	</div>
	<div class="mdl-textfield mdl-js-textfield">
		<input class="mdl-textfield__input" type="text"
			pattern="-?[0-9]*(\.[0-9]+)?" id="points" name="points"> <label
			class="mdl-textfield__label" for="points">Points</label> <span
			class="mdl-textfield__error">Input is not a number!</span>
	</div>
	<div class="mdl-dialog__actions">
		<button type="submit" class="mdl-button">Create</button>
		<button type="button" class="mdl-button close">Cancel</button>
	</div>
</form>
</dialog>

<dialog id="chores-add-member-dialog" class="mdl-dialog">
<h4 class="mdl-dialog__title">
	<i class="material-icons">add</i>Invite Member
</h4>
<div class="mdl-dialog__content">
	<form action="/invite" method="post">
		<div class="mdl-dialog__content">
			<div
				class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<input class="mdl-textfield__input" type="text" name="email">
				<label class="mdl-textfield__label" for="email">Email</label>
			</div>
		</div>
		<div class="mdl-dialog__content">
            <input style="display: none;" type="text" name="group-key" value="{{ groupkey.urlsafe() }}">
			<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect"
				for="is_admin"> <span class="mdl-checkbox__label">Admin?</span>
				<input type="checkbox" name="is-admin" id="is_admin" class="mdl-checkbox__input">
			</label>
		</div>
		<div class="mdl-dialog__actions">
			<button type="submit" class="mdl-button">Invite</button>
			<button type="button" class="mdl-button close">Cancel</button>
		</div>
	</form>
</div>
</dialog>

<dialog id="chores-edit-dialog" class="mdl-dialog">
<h4 class="mdl-dialog__title">Edit Chore</h4>
<div class="mdl-dialog__content">
	<form method="post">
		<div class="mdl-dialog__content">
			<input style="display: none;" type="text" name="group_id"
				value="{{ groupkey }}"> <input style="display: none;"
				type="text" name="chore_id" id="chores-edit-key">
			<div id="chores-edit-name"
				class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<input class="mdl-textfield__input" type="text" name="name">
				<label class="mdl-textfield__label" for="name">Name</label>
			</div>
		</div>
		<div class="scheduled-picker">
			<div id="edit-date-time-field"
				class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<input class="mdl-textfield__input" type="text" name="due">
				<label class="mdl-textfield__label" for="send_date_time">Due
					date / time</label>
			</div>
		</div>
		<div
			class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select getmdl-select__fullwidth">
			<input class="mdl-textfield__input" type="text" id="frequency"
				name="frequency" tabIndex="-1" /> <label
				class="mdl-textfield__label" for="frequency">Frequency</label>
			<ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu"
				for="frequency">
				<li class="mdl-menu__item" data-val="1 day">Every Day</li>
				<li class="mdl-menu__item" data-val="1 week">Every Week</li>
				<li class="mdl-menu__item" data-val="2 week">Every 2 Weeks</li>
				<li class="mdl-menu__item" data-val="1 month">Every Month</li>
			</ul>
		</div>
		<div id="chores-edit-points" class="mdl-textfield mdl-js-textfield">
			<input class="mdl-textfield__input" type="text"
				pattern="-?[0-9]*(\.[0-9]+)?" id="points" name="points"> <label
				class="mdl-textfield__label" for="points">Points</label> <span
				class="mdl-textfield__error">Input is not a number!</span>
		</div>
		<div class="mdl-dialog__actions">
			<button type="submit" class="mdl-button">Create</button>
			<button type="button" class="mdl-button close">Cancel</button>
		</div>
	</form>
</div>
</dialog>

<dialog id="chores-delete-dialog" class="mdl-dialog">
<h4 class="mdl-dialog__title">Delete Chore?</h4>
<form action="/delete-chore" method="post">
	<div class="mdl-dialog__content">
		<input style="display: none;" type="text" name="chore-key"
			id="chores-delete-key">
		<p>Are you sure you want to delete this Chore?</p>
		<p style="display: none;" id="delete-id"></p>
	</div>
	<div class="mdl-dialog__actions">
		<button type="submit" class="mdl-button">Delete</button>
		<button type="button" class="mdl-button close">Cancel</button>
	</div>
</form>
</dialog>
{% endblock %}
